
<div class="section">

    <div class="container" ng-controller="adminPortalCtlr">

        <div class="col-md-12">

            <div class="col-md-3">
                <ul id="sidebar" class="nav nav-pills nav-stacked">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="searchCompany">
                    </div>
                    <li ng-repeat="company in companies | filter: searchCompany track by $index ">
                        <a ng-click="viewEmployees($index)">{{company.company_name}}</a>
                    </li>

                    
                </ul>
            </div>

            <div class="col-md-9" >
                <!--<h1>Company Details</h1>
                <hr>-->

                <table class="table table-striped">
                    <tr>
                        <th>
                            Employees
                        </th>
                        <th>
                            Roles Assigned
                        </th>
                    </tr>
                    <tr ng-repeat="employee in employeeeDetails[0]">
                        <td>{{employee.name}}</td>
                        <td>
                            <div ng-repeat="role in employee.roles"> 
                                {{role}}
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
      
        </div>

    </div>

</div>

