<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div class="logo-area">
                <img class="icon" ng-src="images/company-logo.png" />
                <div class="title-area">
                    <p class="logo-title">Compello Invoice Approval</p>
                    <p class="logo-subtitle">Admin Portal</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</nav>
