#sidebar {
    background-color: #FFF;
    padding: 10px;
}

#sidebar a:hover, a:focus {
    color: #FFF;
    text-decoration: none;
}

#sidebar.nav > li > a,
#sidebar.nav > li > a:link {
    background-color: #FFF;
    color:#191919;
}

#sidebar.nav > li > a:hover,
#sidebar.nav > li > a:focus {
    background-color: #d3d3d3;
}

#sidebar.nav-pills > li.active > a,
#sidebar.nav-pills > li.active > a:hover,
#sidebar.nav-pills > li.active > a:focus {
    color: #FFF;
    background-color: #DF9E26;
}